<header>
    <div class="container">
        <div class="nav-option">
            <img src="img/marw_logo_sin-contorno.png" class="rounded" alt="Logo marwee">
        </div>
        <nav>
            <ul class="ul">
                <li class="li">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Productos de Software
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Contabilidad</a></li>
                        </ul>
                    </div>
                </li>
                <li class="li">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Servicios
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Tercerizar procesos tecnologicos</a></li>
                            <li><a class="dropdown-item" href="#">Software a la medida</a></li>
                            <li><a class="dropdown-item" href="#">Procesos de calidad</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>
