<section class="container-header">
    <div class="container">
        <div class="text-center">
            <h1>
                Transformamos la gestión empresarial con software eficiente y adaptable
            </h1>
            <h3>
                Simplifica procesos, optimiza recursos y lleva tu negocio al siguiente nivel
            </h3>
            <!--<h6>¡Dejemos una marca imborrable!</h6>-->
            <button type="button" class="btn btn-secondary">Solicita informacón</button>
        </div>
    </div>
    <div class="custom-divider">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
</section>
<section class="container-body">
    <div class="container">
        <div class="text-center">
            <div class="services">
                <div class="section-header">
                    <h1 class="title">
                        Plataforma Contable
                    </h1>
                    <h1 class="subtitle">
                        Diseñada en un ecosistema tecnológico versátil para adaptarse a cualquier negocio
                    </h1>
                </div>
                <div class="section-navegator">
                    <ul>
                        <li>
                            <button type="button" 
                            [ngClass]="{'section-navegator-btn-active': currentIndexView == 0}" 
                            (click)="changeModule(0)">Ventas</button>
                        </li>
                        <li>
                            <button type="button" 
                            [ngClass]="{'section-navegator-btn-active': currentIndexView == 1}" 
                            (click)="changeModule(1)">Compras</button>
                        </li>
                    </ul>
                </div>
                <div class="slider-container">
                    <div class="section-body">
                        <div class="container-img">
                            <img [src]="slides[currentIndexView].content[currentIndex].img" alt="Imagen con error">
                        </div>
                        <div class="container-text">
                            <h1>{{ slides[currentIndexView].content[currentIndex].title }}</h1>
                            <p>{{ slides[currentIndexView].content[currentIndex].text }}</p>
                        </div>
                    </div>
                    <button (click)="prevSlide()" class="slider-btn left-btn">&#10094;</button>
                    <button (click)="nextSlide()" class="slider-btn right-btn">&#10095;</button>
                </div>
            </div>
            <div class="demo">
                <div class="img-divisor ">
                    <img src="/img/marw_ruta.png" alt="array">
                </div>
                <div class="section-header">
                    <h1 class="title">
                        Marwee demos
                    </h1>
                    <h1 class="subtitle">
                        Las demos son esenciales en cualquier proceso de software, dale un vista a la demo ahora y descubre 
                        la eficiencia que te podemos ofrecer.
                    </h1>
                    <!--<h1 class="title2">
                        Sandbox contable v1
                    </h1>-->
                </div>
                <div class="section-body">

                </div>
            </div>
        </div>
    </div>
</section>
