<footer>
    <div class="container-enterprise">
        <div class="marwee">
            <img src="/img/marw_logo.png" alt="logo marwee">
            <p>
                <strong>Marwee</strong><br>
                Nuestro objetivo es ofrecer herramientas que transformen procesos 
                complejos en experiencias intuitivas.
            </p>
            <p>
                <small>
                    <i class="fa-solid fa-quote-right"></i> 
                    Dejemos una marca imborrable
                    <i class="fa-solid fa-quote-right"></i>
                </small>
                <span>CTO - Ivan Gomez</span>
            </p>
        </div>
        <div class="info">
            <ul>
                <ol>Información</ol>
                <li>¿Que es Marwee?</li>
                <li>Referencias</li>
            </ul>
            <ul>
                <ol>Legal</ol>
                <li>Uso de Cookies</li>
                <li>Política de Privacidad</li>
            </ul>
            <ul>
                <ol>Buscanos</ol>
                <li>
                    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </li>
            </ul>
            <ul>
                <ol>Contáctanos</ol>
                <li>
                    negocios&#64;marwee.co
                </li>
                <li>+57 (601)781156 - Bogotá</li>
            </ul>
        </div>
        <div class="social">

        </div>
    </div>
    <h6>
        Todos los derechos reservados © 2024 Marwee
    </h6>
</footer>
